/*
 * The syntax highlight.
 */

@import 'colors/syntax-light';
@import 'colors/syntax-dark';

html {
  /* 라이트 모드 설정 */
  @media (prefers-color-scheme: light) {
    &:not([data-mode]),
    &[data-mode='light'] {
      @include light-syntax;
    }

    &[data-mode='dark'] {
      @include dark-syntax;
    }
  }

  /* 다크 모드 설정 */
  @media (prefers-color-scheme: dark) {
    &:not([data-mode]),
    &[data-mode='dark'] {
      @include dark-syntax;
    }

    &[data-mode='light'] {
      @include light-syntax;
    }
  }
}

/* 공통 코드 블록 스타일 */
%code-snippet-bg {
  background-color: var(--highlight-bg-color);
}

%code-snippet-padding {
  padding-left: 1rem;
  padding-right: 1.5rem;
}

/* 코드 블록 내 스타일 */
.highlighter-rouge {
  color: var(--highlighter-rouge-color);
  margin-top: 0.5rem;
  margin-bottom: 1.2em; /* BS Inline-code 스타일 오버라이드 */
}

.highlight {
  @extend %rounded;
  @extend %code-snippet-bg;

  overflow: auto;
  padding-bottom: 0.75rem;

  @at-root figure#{&} {
    @extend %code-snippet-bg;
  }

  pre {
    margin-bottom: 0;
    font-size: $code-font-size;
    line-height: 1.4rem;
    word-wrap: normal; /* Safari에서 overflow-x 고정 */
  }

  table {
    td {
      &:first-child {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 0.75rem;
      }

      &:last-child {
        padding-right: 2rem !important;
      }

      pre {
        overflow: visible; /* iOS safari에서 overflow-x 고정 */
        word-break: normal; /* iOS safari linenos 코드 줄바꿈 */
      }
    }
  }

  .lineno {
    text-align: right;
    color: var(--highlight-lineno-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
} /* .highlight */

/* 인라인 코드 */
code {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: var(--code-color);

  &.highlighter-rouge {
    font-size: $code-font-size;
    padding: 3px 5px;
    word-break: break-word;
    border-radius: $radius-sm;
    background-color: var(--inline-code-bg);
  }

  &.filepath {
    background-color: inherit;
    color: var(--filepath-text-color);
    font-weight: 600;
    padding: 0;
  }

  a > &.highlighter-rouge {
    padding-bottom: 0; /* 링크의 밑줄 표시 */
    color: inherit;
  }

  a:hover > &.highlighter-rouge {
    border-bottom: none;
  }

  blockquote & {
    color: inherit;
  }
}

/* 줄 번호 없는 코드 스타일 */
div[class^='language-'] {
  @extend %rounded;
  @extend %code-snippet-bg;

  box-shadow: var(--language-border-color) 0 0 0 1px;

  .content > & {
    @include ml-mr(-1rem);
    border-radius: 0;
  }

  .highlight {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/* 기본 콘솔, 터미널 코드 블록에서 줄 번호 제거 */
div {
  &.nolineno,
  &.language-plaintext,
  &.language-console,
  &.language-terminal {
    td:first-child {
      padding: 0 !important;
      margin-right: 0;

      .lineno {
        display: none;
      }
    }
  }
}

/* 코드 헤더 */
.code-header {
  @extend %no-cursor;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $code-header-height;
  margin-left: 0.75rem;
  margin-right: 0.25rem;

  /* 라벨 블록 */
  span {
    line-height: $code-header-height;

    /* 라벨 아이콘 */
    i {
      font-size: 1rem;
      width: $code-icon-width;
      color: var(--code-header-icon-color);

      &.small {
        font-size: 70%;
      }
    }

    @at-root [file] #{&} > i {
      position: relative;
      top: 1px; /* 아이콘 위치 조정 */
    }

    /* 라벨 텍스트 */
    &::after {
      content: attr(data-label-text);
      font-size: 0.85rem;
      font-weight: 600;
      color: var(--code-header-text-color);
    }
  }

  /* 클립보드 */
  button {
    @extend %cursor-pointer;
    @extend %rounded;

    border: 1px solid transparent;
    height: $code-header-height;
    width: $code-header-height;
    padding: 0;
    background-color: inherit;

    i {
      color: var(--code-header-icon-color);
    }

    &[timeout] {
      &:hover {
        border-color: var(--clipboard-checked-color);
      }

      i {
        color: var(--clipboard-checked-color);
      }
    }

    &:focus {
      outline: none;
    }

    &:not([timeout]):hover {
      background-color: rgba(128, 128, 128, 0.37);

      i {
        color: white;
      }
    }
  }
}

